<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>todo list con Vue</title>
</head>
<body>
  <div id="app" class="container">
    <!-- area di input  -->
    <div class="fill-in">
      <!-- col keyup al press di enter parte la fun addToDo, il v-model serve per registrare il dato -->
      <input type="text" placeholder="type sth down" @keyup.enter="addToDo" v-model="newToDo">
      <!-- v-on e @ sono intercambiabili -->
      <button type="button" name="button" @click="addToDo">Fill it in</button>
    </div>
    <!-- /area di input  -->

    <!-- lista dei todo -->
    <div class="todo">
      <h3>move all items to the bin
        <i class="fas fa-trash" @click="moveAllToBin"></i>
      </h3>
      <ol>
        <!-- nel v-for serve index per poterlo usare con la fun removeToDo -->
        <li v-for="(todo,index) in todos">
          {{ todo }}
          <i class="fas fa-times" @click="removeToDo(index)"></i>
          <i class="fas fa-edit" @click="editToDo(index)"></i>
        </li>
      </ol>
    </div>
    <!-- /lista dei todo -->


    <!-- lista dei todo eliminati -->
    <div class="deleted">
      <h3>items you have cancelled
        <i class="fas fa-trash" @click="empty"></i>
      </h3>
      <ul>
        <!-- anche qui serve index per il funzionamento delle funzioni -->
        <li v-for="(deleted,index) in removed">
          {{ deleted }}
          <i class="fas fa-times" @click="deleteToDo(index)"></i>
          <i class="fas fa-window-restore" @click="restoreToDo(index)"></i>
        </li>
      </ul>
    </div>
    <!-- /lista dei todo eliminati -->
  </div>


  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
